*{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: white;
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.404);
}

fieldset {
    background-color: #d6FFFF;
    margin-bottom: 20px;
    border: 2px solid rgb(43, 12, 214);
    border-radius: 20px;
    width: 750px;
    font-weigth: bold;
}

legend {
    background-color: rgb(43, 12, 214);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

input {
    background-color: rgb(248, 247, 247);
    color: rgb(43, 12, 214);
    padding: 5px;
    border: 10px;
}
